

<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
    <div class="container">
        <div class="ct-headerText--normal text-uppercase ct-u-marginBottom40">
            <h2>New / Edit Developer</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form role="form" class="ct-formSubmission">
                    <div class="form-group ">


                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Name</label>
                        <%= f.text_field :developer %>

                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Permalink</label>
                        <%= f.text_field :permalink %>

                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Description</label><br/>
                        <%= f.text_field :description %>
                        <textarea placeholder="" class="form-control input-lg ct-input--border ct-u-marginBottom40" name="field[]" required=""></textarea>

                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Image</label>
                        <%= f.file_field :image %>

                        <%= f.check_box :hidden %>
                        <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Hidden</label><br/>

                        <%= f.submit %>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
