<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-heading--main text-center">
                <h3 class="text-uppercase ct-u-text--white"><%= @developer.developer %></h3>
            </div>
        </div>
    </div>
</header>


<section class="ct-u-paddingTop50 ct-u-paddingBottom60">
<div class="container">
<div class="ct-section--products">
<div class="row">
<div class="col-md-12">
<div class="ct-sortingBar ct-u-paddingRight10 ct-u-paddingLeft10 ct-u-marginBottom30">
    <div class="ct-sortingTitle pull-left">
        <h4 class="text-uppercase"><%= @developer.developer %></h4>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row ct-js-search-results ct-showProducts--default">
	<% @properties.each do |property| %>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
          <label class="control-label sale">
              <%= property.status %>
          </label>
          <a href="product-single.html">
              <div class="ct-main-content">
                  <div class="ct-imageBox">
                      <%= image_tag property.photo.url(:medium) %>
                  </div>
                  <div class="ct-main-text">
                      <div class="ct-product--tilte">
                          <%= property.name %>
                      </div>
                      <div class="ct-product--price">
                          <span><%= property.price_range %></span>
                      </div>
                      <div class="ct-product--description">
                          <%= property.location %><br/>
                          <%= link_to 'Edit', edit_property_url(property) %>
  												<%= link_to 'Delete', property_url(property), :method => :delete, :confirm => "Are you sure?" %>
                      </div>
                  </div>
              </div>
              <div class="ct-product--meta">
                  <div class="ct-icons">
                    <span><i class="fa fa-bed"></i> <%= property.unit_types %></span>
                  </div>
                  <div class="ct-text">
                      <span><span><%= property.unit_sizes %></span></span>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </a>
      </div>
  </div>



  <% end %>
  <div class="clearfix visible-sm visible-md"></div>
</div>
</div>
</div>
</div>
</div>
</section>
