<div class="ct-navigation nav ct-js-navigation text-capitalize">
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to 'Settings', admin_url, class: "ct-js-btnScroll" %></li>
      <li><%= link_to 'Developers', admin_developers_url, class: "ct-js-btnScroll" %></li>
      <li><%= link_to 'Properties', admin_properties_url, class: "ct-js-btnScroll" %></li>
      <li><%= link_to 'Subscribers', admin_subscriptions_url, class: "ct-js-btnScroll" %></li>
      <li><%= link_to 'Users', admin_users_url, class: "ct-js-btnScroll" %></li>
    </ul>
</div>
