
<header class="ct-mediaSection" data-stellar-background-ratio="0.3" data-height="140" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <div class="ct-heading--main text-center">
                <h3 class="text-uppercase ct-u-text--white">Admin Dashboard</h3>
            </div>
        </div>
    </div>
</header>
<section class="ct-u-paddingBoth60">
    <div class="container">
       <div class="ct-heading text-center ct-u-marginBottom60">
          <h3 class="text-uppercase">Property Listing</h3>
       </div>
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <%= render partial: 'menu' %>
            </div>
            <div class="col-sm-8 col-md-9">
              <table class="table table-striped">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Permalink</th>
                      <th>Location</th>
                      <th>Active?</th>
                      <th>Actions?</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @properties.each_with_index do |s,index| %>
                      <tr>
                        <td><%= index+1  %></td>
                        <td><%= s.name  %></td>
                        <td><%= s.permalink %></td>
                        <td><%= s.location%></td>
                        <td><%= s.hidden%></td>
                        <td>
                          <%= link_to 'Edit', edit_property_url(s) %>
                          <%= link_to 'Delete', property_url(s), method: :delete, data: {confirm: "Are you sure?"} %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
        </div>
    </div>
</section>
