

<section class="ct-u-paddingTop50 ct-u-paddingBottom100">
    <div class="container">
        <div class="ct-headerText--normal text-uppercase ct-u-marginBottom40">
            <h2>Edit Settings</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
              <%= form_for :setting, :url => admin_url(@setting), :html => {:method => :put, :multipart => true, class: 'ct-formSubmission'} do |f| %>
                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Production Email</label>
                <%= f.text_field :production_email %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Office No</label>
              	<%= f.text_field :office_no %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Office Address</label>
              	<%= f.text_field :office_address %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Facebook</label>
                <%= f.text_field :facebook %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Twitter</label>
              	<%= f.text_field :twitter %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Instagram</label>
              	<%= f.text_field :instagram %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">About Us  </label><br/0vvvv. .. .  . ...0>
              	<%= f.text_area :about_us %>
              	<%= f.submit 'Update' %>
              <% end %>
            </div>
            <div class="col-md-6">
              <%= form_for :setting, :url => admin_url(@setting), :html => {:method => :put, :multipart => true} do |f| %>
                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Featured 1</label>
                <br/><%= image_tag @setting.featured1.url(:thumb) %><%= link_to 'Delete', remove_featured1_url(f) %><br/>
                <%= f.text_field :featured1_caption %>
                <%= f.file_field :featured1 %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Featured 2</label>
                <br/><%= image_tag @setting.featured2.url(:thumb) %><%= link_to 'Delete', remove_featured2_url(f) %><br/>
                <%= f.text_field :featured2_caption %>
                <%= f.file_field :featured2 %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Featured 3</label>
                <br/><%= image_tag @setting.featured3.url(:thumb) %><%= link_to 'Delete', remove_featured3_url(f) %><br/>
                <%= f.text_field :featured3_caption %>
                <%= f.file_field :featured3 %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Featured 4</label>
                <br/><%= image_tag @setting.featured4.url(:thumb) %><%= link_to 'Delete', remove_featured4_url(f) %><br/>
                <%= f.text_field :featured4_caption %>
                <%= f.file_field :featured4 %>

                <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Featured 5</label>
                <br/><%= image_tag @setting.featured5.url(:thumb) %><%= link_to 'Delete', remove_featured5_url(f) %><br/>
                <%= f.text_field :featured5_caption %>
                <%= f.file_field :featured5 %>

                <%= f.submit 'Update' %>
              <% end %>
            </div>
        </div>

       <div class="row">
           <div class="col-md-6">
             <%= form_tag add_location_url do  %>
               <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Location</label>
       	       <%= text_field_tag :area %>
       	       <%= submit_tag 'Add' %>
             <% end %>

             <% @locations.each do |location| %>
       	       <p><%= location.area %> <%= link_to '[remove]', remove_location_url(location) %></p>
             <% end %>
           </div>
           <div class="col-md-6">
             <%= form_tag add_price_range_url do  %>
       	       <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Price Range</label>><%= text_field_tag :range %><br><br>
       	       <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Value From</label><%= text_field_tag :value_from %><br><br>
       	       <label class="ct-fw-600 text-uppercase ct-u-marginBottom10">Value To</label><%= text_field_tag :value_to %><br><br>
       	       <%= submit_tag 'Add' %><br><br>
             <% end %>

             <table id="price_range">
             	<thead>
             		<tr>
             			<th>Range</th>
             			<th>From</th>
             			<th>To</th>
             			<th></th>
             		</tr>
             	</thead>
             	<tbody>
             		<% @price_range.each do |pr| %>
             			<tr>
             				<td><%= pr.range %></td>
             				<td><%= number_to_currency(pr.value_from, :precision => 0, :unit => "")  %></td>
             				<td><%= number_to_currency(pr.value_to,   :precision => 0, :unit => "")  %></td>
             				<td><%= link_to 'remove', remove_price_range_url(pr) %></td>
             			</tr>
             		<% end %>
             	</tbody>
             </table>

          </div>
      </div>

    </div>
</section>
