<div class="mcol-sm-6 col-md-6 col-lg-4">
    <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
        <label class="control-label sale">
            <%= property.status %>
        </label>

        <div class="ct-main-content">
            <div class="ct-imageBox">
                <% if property.photo? %>
                <%= link_to (image_tag property.photo.url(:medium)), property_url(property) %>
                <% else %>
                <%= image_tag 'content/property-1.jpg' %>
                <% end %>
            </div>
            <div class="ct-main-text">
                <div class="ct-product--tilte">
                    <%= link_to property.name, property_url(property) %>
                </div>
                <div class="ct-product--price">
                    <span>
                        <%= property.price_range %></span>
                </div>
                <div class="ct-product--description">
                    <%= property.address %><br />
                    <%= property.location %><br />
                </div>
            </div>
        </div>
        <div class="ct-product--meta">
            <div class="ct-icons">
                <span>
                    <i class="fa fa-bed"></i>
                    <%= property.unit_types %>
                </span>
            </div>
            <div class="ct-text">
                <span><span>
                        <%= property.unit_sizes %></span></span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix visible-md"></div>