<div class="widget">
    <div class="widget-inner">
        <%= form_tag search_properties_url, class: "ct-formSearch--extended ct-u-marginBottom50" do %>
            <div class="ct-form--label--type3">
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-input-group-btn">
                            <button class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell text-center">
                        <span class="text-uppercase">Search for property</span>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="ct-form--item ct-u-marginBoth10">
                    <label>Developer</label>
                    <%= select_tag "developer_id", options_for_select(@option_developers.collect{ |d| [d.developer, d.id] }), {class:'ct-js-select ct-select-lg', include_blank: true,  multiple: false} %>
                </div>
                <div class="ct-form--item ct-u-marginBottom10">
                    <label>Location</label>
                    <%= select_tag "location", options_for_select(@option_locations.collect{ |l| [l.area, l.area] }), {class:'ct-js-select ct-select-lg', include_blank: true,  multiple: false} %>
                </div>

                <div class="ct-form--item ct-u-marginBottom10">
                    <label>Property Status</label>
                    <%= select_tag "status", options_for_select(['Completed','Preselling','Preowned']), class: "ct-js-select ct-select-lg", include_blank: true, multiple: false %>
                </div>
                <div class="ct-form--item ct-u-marginBottom10">
                    <label>Unit type </label>
                    <%= select_tag "unit_type", options_for_select(['Studio','1 bedroom','2 bedroom','3 bedroom','Loft','Penthouse']), class: "ct-js-select ct-select-lg", include_blank: true, multiple: false %>
                </div>
                <div class="ct-u-displayTableVertical ct-slider--row ct-u-marginBottom10">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-form--item">
                            <label>Price Range</label>
                            <%= select_tag "price", options_for_select(@option_price_range.collect{ |d| [d.range, d.id] }), {class:'ct-js-select ct-select-lg', include_blank: true,  multiple: false} %>
                        </div>
                    </div>

                </div>


                <button type="submit" class="btn btn-warning ct-u-marginTop10">Search Now</button>
            </div>
        <% end %>
    </div>
</div>
</div>
