<header class="ct-mediaSection ct-u-paddingBoth100" data-stellar-background-ratio="0.3" data-height="470" data-type="parallax" data-bg-image="assets/images/content/agency-parallax.jpg" data-bg-image-mobile="assets/images/content/agency-parallax.jpg">
    <div class="container">
        <div class="ct-personBox ct-personBox--extended ct-personBox--extendedLight text-left">
            <div class="ct-imagePerson">
                <%= image_tag 'content/logo--agency.png' %>
                <ul class="ct-panel--socials list-inline list-unstyled">
                    <li><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div></a></li>
                    <li><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div></a></li>
                    <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div></a></li>
                </ul>
            </div>
            <div class="ct-personContent">
                <div class="ct-personName ct-u-paddingBoth10 text-uppercase">
                    <h2><%= @setting.agency_name %></h2>
                    <a href=""><%= @count %> properties <i class="fa fa-external-link"></i></a>
                </div>
                <div class="ct-personDescription pull-right ct-u-paddingBoth20">
                    <ul class="list-unstyled ct-contactPerson pull-right">
                        <li>
                            <i class="fa fa-phone"></i>
                            <span><%= @setting.office_no %></span>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-user"></i> <%= @setting.agent_name %></a>
                        </li>
                        <li>
                            <i class="fa fa-mobile"></i>
                            <span><%= @setting.mobile_no %></span>
                        </li>
                        <li>
                            <a href=""><i class="fa fa-envelope-o"></i> <%= @setting.production_email %></a>
                        </li>
                    </ul>
                </div>
                <div class="ct-buttonPanel text-capitalize ct-u-paddingBoth20 pull-right">
                    <%= link_to 'Visit Our Website', root_url, class: 'btn btn-default btn-transparent--border ct-u-text--white btn-hoverWhite' %>
                    <%= link_to 'View Properties', properties_url, class: 'btn btn-default btn-transparent--border ct-u-text--white btn-hoverWhite' %>
                </div>
            </div>
        </div>
    </div>
</header>
