<header>
    <div class="container">
        <div class="ct-navigationGmaps">
            <div class="ct-navigationGmaps--container">
                <div class="ct-zoomNav">
                    <div id="zoomin" class='ct-zoom--in pull-left'><i class='fa fa-plus'></i></div>
                    <div id="zoomout" class='ct-zoom--out'><i class='fa fa-minus'></i></div>
                </div>
                <div class="ct-search--container">
                    <i class="fa fa-search"></i>
                    <input id="searchGmaps" type="text" required class="ct-searchGmaps input-lg" placeholder="Google Maps Search">
                </div>
                <div id="geolocation" class="ct-geolocationButton btn btn-default"><i class="fa fa-map-marker"></i>My Position</div>
            </div>
        </div>
    </div>
    <div class="successMessage alert alert-success" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Thank You!
    </div>
    <div class="errorMessage alert alert-danger" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Ups! An error occured. Please try again later.
    </div>
    <div class="ct-js-googleMap ct-googleMap ct-js-googleMap--single" data-location="Richmond" data-icon="marker-house.png" data-display-desc="false" data-zoom="14" data-height="640" id="map"></div>
    <%= form_tag contact_us_url, method: :post, class: "contactForm validateIt ct-formContact--map ct-formSearch--right ct-form--darkStyle" %>

        <div class="form-group">
            <div class="ct-form--label--type2">
                <div class="ct-u-displayTableVertical">
                    <div class="ct-u-displayTableCell">
                        <div class="ct-input-group-btn">
                            <button class="btn btn-primary">
                                <i class="fa fa-envelope-o"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ct-u-displayTableCell text-center">
                        <span class="text-uppercase">Send us a message</span>
                    </div>
                </div>
            </div>
            <div class="ct-form--item ct-u-marginBottom20">
                <label>Your Name</label>
                <%= text_field_tag "contact_name", nil, { class: "form-control input-lg", required: true } %>
            </div>
            <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item ct-u-marginBottom20">
                        <label>Phone</label>
                        <%= text_field_tag "contact_phone", nil, { class: "form-control input-lg", required: true } %>
                    </div>
                </div>
                <div class="ct-u-displayTableCell">
                    <div class="ct-form--item ct-u-marginBottom20">
                        <label>Email</label>
                        <%= text_field_tag "contact_email", nil, { class: "form-control input-lg", required: true } %>
                    </div>
                </div>
            </div>
            <div class="ct-form--item ct-u-marginBottom20">
                <label>Choose Topic</label>
                <%= select_tag 'topic', options_for_select(["General Inquiries","Misc"]), class: "ct-js-select ct-select-lg" %>
            </div>
            <div class="ct-form--item ct-u-marginBottom20">
                <label>Message</label>
                <%= text_area_tag "contact_message", nil, {placeholder: "How can we help you?", class: "form-control input-lg", reqired: true, rows: 4 } %>
            </div>
            <div class="ct-form--item">
              <%= submit_tag "Send Message", class: "btn btn-warning center-block" %>
            </div>
        </div>
    </form>

</header>
<section class="ct-u-paddingBoth60">
    <div class="container">
        <div class="col-md-6 col-lg-3">
            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">address details</h4>
            </div>
            <p>
                Cebu Condo<br>
                <%= @setting.office_address %>
            </p>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">direct contact</h4>
            </div>
            <ul class="list-unstyled ct-phoneNumbers ct-u-marginBottom30">
                <li>
                    <i class="fa fa-phone"></i>
                    <span class="ct-fw-600"><%= @setting.office_no %></span>
                </li>
                <li>
                    <i class="fa fa-mobile"></i>
                    <span class="ct-fw-600"><%= @setting.mobile_no %></span>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">emails</h4>
            </div>
            <div class="ct-contactList ">
                <a class="ct-u-marginBottom10" href="#"><i class="fa fa-envelope-o"></i><%= @setting.production_email %></a>
                <a class="ct-u-marginBottom10" href="#"><i class="fa fa-envelope-o"></i><%= @setting.sales_email %></a>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">social networks</h4>
            </div>
            <ul class="ct-panel--socials ct-panel--navbar list-unstyled ct-u-marginBottom30">
                <li class="ct-u-marginBottom10"><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div>Facebook Profile</a></li>
                <li class="ct-u-marginBottom10"><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div>Twitter Profile</a></li>
                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div>Instagram Profile</a></li>
            </ul>
        </div>
    </div>
</section>
