<section class="ct-u-paddingBoth60">
    <div class="container">
        <div class="col-md-6 col-lg-3 col-xs-12">
            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">address details</h4>
            </div>
            <p>
                Cebu Condo<br>
                <%= @setting.office_address %>
            </p>
            <br>
            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">direct contact</h4>
            </div>
            <ul class="list-unstyled ct-phoneNumbers ct-u-marginBottom30">
                <li>
                    <i class="fa fa-phone"></i>
                    <span class="ct-fw-600"><%= @setting.office_no %></span>
                </li>
                <li>
                    <i class="fa fa-mobile"></i>
                    <span class="ct-fw-600"><%= @setting.mobile_no %></span>
                </li>
            </ul>

            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">emails</h4>
            </div>
            <div class="ct-contactList ">
                <a class="ct-u-marginBottom10" href="#"><i class="fa fa-envelope-o"></i><%= @setting.production_email %></a>
                <a class="ct-u-marginBottom10" href="#"><i class="fa fa-envelope-o"></i><%= @setting.sales_email %></a>
            </div>

            <div class="ct-heading ct-u-marginBottom50">
                <h4 class="text-uppercase">social networks</h4>
            </div>
            <ul class="ct-panel--socials ct-panel--navbar list-unstyled ct-u-marginBottom30">
                <li class="ct-u-marginBottom10"><a href="https://www.facebook.com/createITpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-facebook"></i></div>Facebook Profile</a></li>
                <li class="ct-u-marginBottom10"><a href="https://twitter.com/createitpl"><div class="ct-socials ct-socials--circle"><i class="fa fa-twitter"></i></div>Twitter Profile</a></li>
                <li><a href="#"><div class="ct-socials ct-socials--circle"><i class="fa fa-instagram"></i></div>Instagram Profile</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-lg-9 col-xs-12">
          <%= render "shared/feedback" %>
        </div>
    </div>
</section>
