<esction>                                                      
  <div class="ct-js-owl" data-items="1" data-navigation="NJJtrue" data-autoPlay="true" data-lazyLoad="true" data-animations="true">
    <% if @setting.featured1? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured1.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <h1 class="text-capitalize ct-u-marginBottom30 animated" data-fx="fadeInDown"><%= @setting.featured1_caption %></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured2? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured2.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader">
                <h1 class="text-capitalize ct-u-marginBottom30 animated" data-fx="fadeInDown"><%= @setting.featured2_caption %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured3? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured3.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader">
                <h1 class="text-capitalize ct-u-marginBottom30 animated" data-fx="fadeInDown"><%= @setting.featured3_caption %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured4? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured4.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader">
                <h1 class="text-capitalize ct-u-marginBottom30 animated" data-fx="fadeInDown"><%= @setting.featured4_caption %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured5? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured5.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader ">
                <h1 class="text-capitalize ct-u-marginBottom30 animated" data-fx="fadeInDown"><%= @setting.featured5_caption %></h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</header>
<section>
  <div class="container">
    <%= render :partial => 'search_form' %>
    <div class="ct-section--products">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="ct-heading ct-u-marginBottom30">
                    <h3 class="text-uppercase">Featured Properties</h3>
                    <a href="/properties" class="pull-right"><i class="fa fa-angle-right"></i>View More</a>
                </div>
                <div class="row">
                  <% @featured.each do |featured| %>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <label class="control-label sale">
                                <%= featured.status %>
                            </label>

                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                      <%= image_tag 'content/property-1.jpg' %>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            <%= featured.name %>
                                        </div>
                                        <div class="ct-product--price">
                                            <span><%= featured.price_range %></span>
                                        </div>
                                        <div class="ct-product--description">
                                            <%= featured.address %><br/><%= featured.location %>
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> <%= featured.unit_types %>
                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span><span><%= featured.unit_sizes %></span></span>
                                    </div>
                                </div>

                        </div>
                    </div>
                  <% end %>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="ct-js-sidebar">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">

                        </div>

                        <div class="col-sm-6 col-md-12">
                            <div class="widget ct-widget--recentlyReduced">
                                <div class="widget-inner">
                                    <h4 class="text-uppercase">Recently Reduced</h4>
                                    <div class="ct-itemProducts--small ct-itemProducts--small-type1">
                                        <a href="product-single.html">
                                            <div class="ct-main-content">
                                                <div class="ct-imageBox">
                                                   <img src="assets/images/content/recently-reduced-thumbnail-1.jpg" alt="">
                                                </div>
                                                <div class="ct-main-text">
                                                    <div class="ct-product--tilte">
                                                        4079 Broad Falls, Turkeytown
                                                    </div>
                                                    <div class="ct-product--price">
                                                        <span class="ct-price--Old">$ 450,000</span>
                                                        <span>$ 390,000</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="ct-itemProducts--small ct-itemProducts--small-type1">
                                        <a href="product-single.html">
                                            <div class="ct-main-content">
                                                <div class="ct-imageBox">
                                                    <img src="assets/images/content/recently-reduced-thumbnail-2.jpg" alt="">
                                                </div>
                                                <div class="ct-main-text">
                                                    <div class="ct-product--tilte">
                                                        5469 Clear Rise, Little Otter
                                                    </div>
                                                    <div class="ct-product--price">
                                                        <span class="ct-price--Old">$ 450,000</span>
                                                        <span>$ 390,000</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="ct-itemProducts--small ct-itemProducts--small-type1">
                                        <a href="product-single.html">
                                            <div class="ct-main-content">
                                                <div class="ct-imageBox">
                                                    <img src="assets/images/content/recently-reduced-thumbnail-3.jpg" alt="">
                                                </div>
                                                <div class="ct-main-text">
                                                    <div class="ct-product--tilte">
                                                        4770 Cotton Berry Point, Carrot River
                                                    </div>
                                                    <div class="ct-product--price">
                                                        <span class="ct-price--Old">$ 450,000</span>
                                                        <span>$ 390,000</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a class="btn btn-primary btn-transparent--border ct-u-text--motive" href="/properties">View More Reduced Properties</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="ct-u-paddingBoth30 ct-js-section ct-section--inline" data-bg-color="#60a7d4">
    <div class="container">
        <div class="ct-u-displayTableVertical">
            <div class="ct-u-displayTableCell">
                <div class="ct-u-displayTableCell">

                </div>
                <div class="ct-u-displayTableCell">
                    <h4 class="text-uppercase"></h4>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-u-displayTableCell pull-right">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ct-u-paddingBoth60 ct-js-section" data-bg-color="#f3f3f3">
    <div class="container">
        <div class="ct-heading ct-u-marginBottom30">
            <h3 class="text-uppercase">latest listings</h3>
            <a href="/properties" class="pull-right"><i class="fa fa-angle-right"></i>View More</a>
        </div>
        <div class="ct-js-owl ct-owl-controls--type2" data-single="false" data-items="4" data-pagination="false">
          <% @latest.each do |latest| %>
            <div class="item">
                <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                    <label class="control-label new">
                        New
                    </label>

                        <div class="ct-main-content">
                            <div class="ct-imageBox">
                              <%= link_to (image_tag('content/property-7.jpg')), property_url(latest) %>
                            </div>
                            <div class="ct-main-text">
                                <div class="ct-product--tilte">
                                    <%= link_to latest.name, property_url(latest) %>
                                </div>
                                <div class="ct-product--price">
                                    <span><%= latest.price_range %></span>
                                </div>
                                <div class="ct-product--description">
                                  <%= latest.address %><br/>
                                    <%= latest.location %>
                                </div>
                            </div>
                        </div>
                        <div class="ct-product--meta">
                            <div class="ct-icons">
                                <span>
                                    <i class="fa fa-bed"></i> <%= latest.unit_types %>
                                </span>
                            </div>
                            <div class="ct-text">
                                <span><%= latest.unit_sizes %></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</section>


<section class="ct-u-paddingBoth60 ct-blog--small">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="ct-heading ct-u-marginBottom30">
          <h3 class="text-uppercase">latest posts</h3>
        </div>
        <div class="ct-u-marginBottom30">
          <% @articles.each do |article| %>
          <div class="ct-articleBox ct-articleBox--list">
            <div class="ct-calendar--day text-center">
              <div class="ct-day">
                <span><%= get_day(article.published_date) %></span>
              </div>
              <div class="ct-month">
                <span class="text-uppercase"><%= get_month(article.published_date) %></span>
              </div>
            </div>

            <div class="ct-articleBox-titleBox text-uppercase">

              <%= link_to article.title, article_url(article) %>
              <div class="ct-articleBox-meta">
                <span>Posted on <%= format_date(article.published_date) %> In <%= article.published_at %></span>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <% end %>
        </div>
        <%= link_to "Read More On Blog", articles_url, class: "btn btn-primary btn-transparent--border ct-u-text--motive ct-u-marginBottom30" %>
      </div>
      <div class="col-md-4">
        <div class="ct-heading ct-u-marginBottom30">
          <h3 class="text-uppercase">Questions ?</h3>
        </div>
        <div class="successMessage alert alert-success" style="display: none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Thank You!
        </div>
        <div class="errorMessage alert alert-danger" style="display: none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          Ups! An error occured. Please try again later.
        </div>
        <form role="form" action="#" method="post" class="contactForm validateIt ct-contactForm--small" data-email-subject="Contact Form" data-show-errors="true">
          <div class="form-group">
            <div class="ct-form--label--type2">
              <div class="ct-u-displayTableVertical">
                <div class="ct-u-displayTableCell">
                  <div class="ct-input-group-btn">
                    <button class="btn btn-primary">
                      <i class="fa fa-envelope-o"></i>
                    </button>
                  </div>
                </div>
                <div class="ct-u-displayTableCell text-center">
                  <span class="text-uppercase">Feel free to contact us</span>
                </div>
              </div>
            </div>
            <div class="ct-image--section">
              <%= image_tag 'content/questions.jpg' %>
            </div>
            <div class="ct-form--item">
              <label>Name</label>
              <input id="contact_name" type="text" required class="form-control input-lg" name="field[]" placeholder="">
            </div>
            <div class="ct-form--item">
              <label>Email</label>
              <input id="contact_email" type="email" class="form-control input-lg" name="field[]">
            </div>
            <div class="ct-form--item">
              <label>Phone</label>
              <input id="contact_phone" type="tel" required class="form-control input-lg" name="field[]" placeholder="">
            </div>
            <div class="ct-form--item">
              <label>Message</label>
              <textarea id="contact_message" placeholder="" class="form-control input-lg" rows="4" name="field[]" required=""></textarea>
            </div>
            <div class="ct-form--item last">
              <button type="submit" class="btn btn-warning text-capitalize center-block">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
