<section style="padding-top: 70px;">
  <div class="ct-js-owl" data-items="1" data-navigation="NJJtrue" data-autoPlay="true" data-lazyLoad="true" data-animations="true">
    <% if @setting.featured1? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured1.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader">
                <h1 class="text-capitalize ct-u-marginBottom30 " data-fx="fadeInDown"><%= @setting.featured1_caption %></h1>
                <% if @setting.featured1_link_text && @setting.featured1_link_url %>
                  <%= link_to (@setting.featured1_link_text), "#{eval(@setting.featured1_link_url)}", class: "btn btn-default btn-transparent--border ct-u-text--white " %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured2? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured2.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader">
                <h1 class="text-capitalize ct-u-marginBottom30 " data-fx="fadeInDown"><%= @setting.featured2_caption %></h1>
                <% if @setting.featured2_link_text && @setting.featured2_link_url %>
                  <%= link_to (@setting.featured2_link_text), "#{eval(@setting.featured2_link_url)}", class: "btn btn-default btn-transparent--border ct-u-text--white " %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured3? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured3.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader">
                <h1 class="text-capitalize ct-u-marginBottom30 " data-fx="fadeInDown"><%= @setting.featured3_caption %></h1>
                <% if @setting.featured3_link_text && @setting.featured3_link_url %>
                  <%= link_to (@setting.featured3_link_text), "#{eval(@setting.featured3_link_url)}", class: "btn btn-default btn-transparent--border ct-u-text--white " %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured4? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured4.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader">
                <h1 class="text-capitalize ct-u-marginBottom30" data-fx="fadeInDown"><%= @setting.featured4_caption %></h1>
                <% if @setting.featured4_link_text && @setting.featured4_link_url %>
                  <%= link_to (@setting.featured4_link_text), "#{eval(@setting.featured4_link_url)}", class: "btn btn-default btn-transparent--border ct-u-text--white " %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% if @setting.featured5? %>
    <div class="item">
      <div class="ct-owl--background">
        <%= image_tag @setting.featured5.url(:large) %>
      </div>
      <div class="ct-owl--description">
        <div class="ct-owl--description--inner">
          <div class="ct-owl--descriptionItem">
            <div class="container">
              <div class="ct-textHeader ">
                <h1 class="text-capitalize ct-u-marginBottom30" data-fx="fadeInDown"><%= @setting.featured5_caption %></h1>
                <% if @setting.featured5_link_text && @setting.featured5_link_url %>
                  <%= link_to (@setting.featured5_link_text), "#{eval(@setting.featured5_link_url)}", class: "btn btn-default btn-transparent--border ct-u-text--white " %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</header>
<section style="padding-top: 70px">
  <div class="container">
    <%= render :partial => 'search_form' %>
    <div class="ct-section--products">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="ct-heading ct-u-marginBottom30">
                    <h3 class="text-uppercase">Featured Properties</h3>
                    <a href="/properties" class="pull-right"><i class="fa fa-angle-right"></i>View More</a>
                </div>
                <div class="row">
                  <% @featured.each do |featured| %>
                    <%= link_to property_url(featured) do %>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                            <label class="control-label sale">
                                <%= featured.status %>
                            </label>

                                <div class="ct-main-content">
                                    <div class="ct-imageBox">
                                      <%= image_tag featured.photo.url(:medium) %>
                                    </div>
                                    <div class="ct-main-text">
                                        <div class="ct-product--tilte">
                                            <%= featured.name %>
                                        </div>
                                        <div class="ct-product--price">
                                            <span><%= number_to_human(featured.price_from, format:"%n%u", units: {unit: "$", thousand: "k$", billion: "m$"}) %> - <%= number_to_human(featured.price_to, format:"%n%u", units: {unit: "$", thousand: "k$", billion: "m$"}) %></span>
                                        </div>
                                        <div class="ct-product--description">
                                            <%= featured.address %><br/><%= featured.location %>
                                        </div>
                                    </div>
                                </div>
                                <div class="ct-product--meta">
                                    <div class="ct-icons">
                                        <span>
                                            <i class="fa fa-bed"></i> <%= featured.unit_types %>
                                        </span>
                                    </div>
                                    <div class="ct-text">
                                        <span><span><%= featured.unit_sizes %></span></span>
                                    </div>
                                </div>

                        </div>
                    </div>
                    <% end %>
                  <% end %>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="ct-js-sidebar">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">

                        </div>

                        <div class="col-sm-6 col-md-12">
                            <div class="widget ct-widget--recentlyReduced">
                                <div class="widget-inner">
                                    <h4 class="text-uppercase">Preowned</h4>
                                    <% @preowned.each do |preowned| %>
                                      <div class="ct-itemProducts--small ct-itemProducts--small-type1">
                                        <a href="product-single.html">
                                            <div class="ct-main-content">
                                                <div class="ct-imageBox">
                                                  <%= image_tag preowned.photo.url(:medium) %>
                                                </div>
                                                <div class="ct-main-text">
                                                    <div class="ct-product--tilte">
                                                        <%= preowned.name %>
                                                    </div>
                                                    <div class="ct-product--price">
                                                        <span><%= preowned.unit_type %></span>
                                                        <span><%= preowned.price %></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <% end %>
                                    <%= link_to 'View More Preowned Properties', preowned_properties_url, class: "btn btn-primary btn-transparent--border ct-u-text--motive" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="ct-u-paddingBoth30 ct-js-section ct-section--inline" data-bg-color="#60a7d4">
    <div class="container">
        <div class="ct-u-displayTableVertical">
            <div class="ct-u-displayTableCell">
                <div class="ct-u-displayTableCell">

                </div>
                <div class="ct-u-displayTableCell">
                    <h4 class="text-uppercase"></h4>
                </div>
            </div>
            <div class="ct-u-displayTableCell">
                <div class="ct-u-displayTableCell pull-right">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ct-u-paddingBoth60 ct-js-section" data-bg-color="#f3f3f3">
    <div class="container">

      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="ct-heading ct-u-marginBottom30">
                <h3 class="text-uppercase">latest listings</h3>
                <a href="/properties" class="pull-right"><i class="fa fa-angle-right"></i>View More</a>
            </div>

            <div class="row">
              <% @latest.each do |featured| %>
                <%= link_to property_url(featured) do %>
                  <div class="col-sm-6 col-md-6 col-lg-4">
                      <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
                          <label class="control-label new">
                              New
                          </label>

                              <div class="ct-main-content">
                                  <div class="ct-imageBox">
                                    <%= link_to (image_tag(featured.photo.url(:medium))), property_url(featured) %>
                                  </div>
                                  <div class="ct-main-text">
                                      <div class="ct-product--tilte">
                                          <%= link_to featured.name, property_url(featured) %>
                                      </div>
                                      <div class="ct-product--price">
                                          <span><%= number_to_human(featured.price_from, format:"%n%u", units: {unit: "$", thousand: "k$", billion: "m$"}) %> - <%= number_to_human(featured.price_to, format:"%n%u", units: {unit: "$", thousand: "k$", billion: "m$"}) %></span>
                                      </div>
                                      <div class="ct-product--description">
                                        <%= featured.address %><br/>
                                          <%= featured.location %>
                                      </div>
                                  </div>
                              </div>
                              <div class="ct-product--meta">
                                  <div class="ct-icons">
                                      <span>
                                          <i class="fa fa-bed"></i> <%= featured.unit_types %>
                                      </span>
                                  </div>
                                  <div class="ct-text">
                                      <span><%= featured.unit_sizes %></span>
                                  </div>
                              </div>
                          </a>
                      </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4">
            <%= render "shared/feedback" %>
          </div>
    </div>
</section>


<!--section class="ct-u-paddingBoth60 ct-blog--small">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

      </div>
      <div class="col-md-4">

      </div>
    </div>
  </div>
</section-->
