<section class="ct-u-paddingTop50 ct-u-paddingBottom60">
<div class="container">
<div class="ct-section--products">
<div class="row">
<div class="col-md-4 col-lg-3">
<div class="ct-js-sidebar ct-mobileMarginTopFix">
<div class="row">
<div class="col-sm-6 col-md-12">
    <div class="widget">
        <div class="widget-inner">
            <form class="ct-formSearch--extended" role="form">
                <div class="ct-form--label--type3">
                    <div class="ct-u-displayTableVertical">
                        <div class="ct-u-displayTableCell">
                            <div class="ct-input-group-btn">
                                <button class="btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="ct-u-displayTableCell text-center">
                            <span class="text-uppercase">Search for property</span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">

                    <div class="ct-form--item ct-u-marginBottom10">
                        <label>Developer</label>
                        <%= select_tag "developer_id", options_for_select(@option_developers.collect{ |d| [d.developer, d.id] }), {class:'ct-js-select ct-select-lg', include_blank: true,  multiple: false} %>
                    </div>

                    <div class="ct-form--item ct-u-marginBottom10">
                        <label>Location</label>
                        <%= select_tag "location", options_for_select(@option_locations.collect{ |l| [l.area, l.area] }), {class:'ct-js-select ct-select-lg', include_blank: true,  multiple: false} %>
                    </div>
                    <div class="ct-form--item ct-u-marginBottom10">
                        <label>Property Status </label>
                        <%= select_tag "status", options_for_select(['Completed','Preselling','Preowned'], 'Preowned'), class: "ct-js-select ct-select-lg", include_blank: true, multiple: false %>
                    </div>
                    <div class="ct-form--item ct-u-marginBottom10">
                        <label>Unit Type</label>
                        <%= select_tag "unit_type", options_for_select(['Studio','1 bedroom','2 bedroom','3 bedroom','Loft','Penthouse']), class: "ct-js-select ct-select-lg", include_blank: true, multiple: false %>
                    </div>
                    <div class="ct-form--item ct-u-marginBottom10">
                        <label>Price Range</label>
                        <%= select_tag "price", options_for_select(@option_price_range.collect{ |d| [d.range, d.id] }), {class:'ct-js-select ct-select-lg', include_blank: true,  multiple: false} %>
                    </div>

                    <button type="submit" class="btn btn-warning">Search Now</button>
                </div>
            </form>
        </div>
    </div>
</div>


</div>
</div>
</div>
<div class="col-md-8 col-lg-9">
<div class="ct-sortingBar ct-u-paddingRight10 ct-u-paddingLeft10 ct-u-marginBottom30">
    <div class="ct-sortingTitle pull-left">
        <h4 class="text-uppercase">Search Results<span> (<%= @count %>)</span></h4>
    </div>
    <ul class="list-inline list-unstyled pull-right ct-u-paddingBoth15">
        <li>
            <form>
                <select class="ct-js-select">
                    <option value="price">Sort by</option>
                    <option value="price">Price</option>
                    <option value="newness">Newness</option>
                </select>
            </form>
        </li>
        <li>
            <form>
                <select class="ct-js-select">
                    <option value="nine">12 items</option>
                    <option value="eighteen">15 items</option>
                    <option value="eighteen">21 items</option>
                    <option value="twentyseven">36 items</option>
                    <option value="fourtyfive">45 items</option>
                    <option value="ninety">90 items</option>
                </select>
            </form>
        </li>
    </ul>
    <ul class="ct-showPages list-inline list-unstyled pull-right ct-u-paddingBoth15">
        <li class="ct-showElements" id="ct-js-showTiles">
            <a href="#">
                <i class="fa fa-th fa-fw"></i>
            </a>
        </li>
        <li class="ct-showElements is-active" id="ct-js-showList">
            <a href="#">
                <i class="fa fa-th-list fa-fw"></i>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="row ct-js-search-results ct-showProducts--list">
  <% @preowned.each do |preowned| %>
    <div class="col-sm-6 col-md-6 col-lg-4">
    <div class="ct-itemProducts ct-u-marginBottom30 ct-hover">
        <% if preowned.status == 'Sold' %>
          <label class="control-label sale">Sale</label>
        <% elsif preowned.status == 'New' %>
          <label class="control-label new">New</label>
        <% end %>
        <a href="product-single.html">
            <div class="ct-main-content">
                <div class="ct-imageBox">

                  <%= image_tag "content/property-10.jpg" %>
                </div>
                <div class="ct-main-text">
                    <div class="ct-product--tilte">
                        <%= link_to preowned.name, preowned_property_url(preowned) %>
                    </div>
                    <div class="ct-product--price">
                        <span class="ct-price--Old"></span>
                        <span><%= preowned.price %></span>
                    </div>
                    <div class="ct-product--description">
                        <%= preowned.project_name %> | <%= preowned.address %>
                    </div>
                </div>
            </div>
            <div class="ct-product--meta">
                <div class="ct-icons">
                        <span>
                            <i class="fa fa-bed"></i> <%= preowned.bedrooms %>
                        </span>
                        <span>
                            <i class="fa fa-shower"></i> <%= preowned.bathrooms %>
                        </span>
                        <span>
                            <i class="fa fa-car"></i> <%= preowned.parking_slot %>
                        </span>
                </div>
                <div class="ct-text">
                    <span> Area: <span><%= preowned.unit_size %></span></span>
                </div>
            </div>
        </a>
    </div>
</div>
  <% end %>

</div>

</div>
<div class="ct-pagination text-center">
  <%= will_paginate @preowned, renderer: BootstrapPagination::Rails %>
</div>


<%= link_to 'New Preowned Property', new_preowned_property_url %>

</div>

</div>
</div>
</div>
</section>
