<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head lang="en">
  <meta charset="UTF-8">
  <meta name="description" content="Estato is HTML5 Template for houses, apartmanents and vacation rentals. If you have houses for rent - you need to check our template!">
  <meta name="author" content="CreateIT">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="keywords" content="real estate template, real estate agency, html5">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">

  <title> Estato - HTML5 Template for Real Estate Agencies</title>
  <%= csrf_meta_tags %>
  <link rel="icon" href="<%= image_url('content/estato-favicon.png') %>">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--[if lt IE 9]>

  <%= javascript_include_tag 'html5shiv' %>
  <%= javascript_include_tag 'respond' %>
  <![endif]-->

  <%= javascript_include_tag :modernizr %>
</head>
<body class="ct-headroom--scrollUpMenu cssAnimate">

  <%= render partial: "layouts/header" %>

  <%= yield %>

  <%= render partial: "layouts/footer" %>
</div>
<!-- JavaScripts -->
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
